<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ChocolateyGUI" />
  <package id="git.install" />
  <package id="SourceTree" />
  <package id="Console2" />
  <package id="TortoiseGit" />
  <package id="GoogleChrome" />
  <package id="Firefox" />
  <package id="dropbox" />
  <package id="skype" />
  <package id="7zip" />
  <package id="TotalCommander" />
  <package id="java.jdk" />
  <package id="sublimetext3" />
  <package id="paint.net" />
  <package id="FoxitReader" />
  <package id="notepad2" />
  <package id="SourceCodePro" />
  <package id="f.lux" />
  <package id="scriptcs" />
  <package id="NUnit" />
  <package id="Ruby" />
  <package id="Fiddler" />
  <package id="curl" />
  <package id="openssh" />
  <package id="procexp" />
  <package id="rdcman" />
  <!-- Not general tools, please, change  -->
  <package id="VisualStudio2012Professional" />
  <package id="resharper" />
  <package id="gittfs" />
</packages>
