<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- gui for chocolatey --!>
  <package id="ChocolateyGUI" />
  <!-- it's git! --!>
  <package id="git.install" />
  <!-- GUI for git and Hg from Attlassian--!>
  <package id="SourceTree" />
  <!-- good console app with tabs, different console types, etc --!>
  <package id="Console2" />
  <!-- adds git commands to context menu of files and folder --!>
  <package id="TortoiseGit" />
  <!-- google chrome --!>
  <package id="GoogleChrome" />
  <!-- messanger --!>
  <package id="skype" />
  <!-- archivatior --!>
  <package id="7zip" />
  <!-- java jdk --!>
  <package id="java.jdk" />
  <!-- text editor --!>
  <package id="sublimetext3" />
  <!-- picture editor --!>
  <package id="paint.net" />
  <!-- PDF reader --!>
  <package id="FoxitReader" />
  <!-- performant and lightweight text editor --!>
  <package id="notepad2" />
  <!-- nice font --!>
  <package id="SourceCodePro" />
  <!-- run your C# scripts from console --!>
  <package id="scriptcs" />
  <!-- nunit tests runner --!>
  <package id="NUnit" />
  <!-- ruby --!>
  <package id="Ruby" />
  <!-- http listener --!>
  <package id="Fiddler" />
  <!-- console http client--!>
  <package id="curl" />
  <!-- openssh --!>
  <package id="openssh" />
  <!-- advanced process explorer for windows --!>
  <package id="procexp" />
  <!-- RDP manager --!>
  <package id="rdcman" />
  <!-- powerfull tool to write and test regular expressions --!>
  <package id="expresso" />
  <!-- wix installer --!>
  <package id="wixtoolset" />
</packages>
