<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GoogleChrome" />
  <package id="evernote" />
  <package id="dropbox" />
  <package id="skype" />
  <package id="7zip" />
  <package id="TotalCommander" />
  <package id="javaruntime" />
  <package id="paint.net" />
  <package id="FoxitReader" />
  <package id="libreoffice" />
  <package id="notepad2" />
  <package id="teamviewer" />
  <package id="truecrypt" />
  <package id="uTorrent" />
  <package id="f.lux" />
</packages>
